@using asp_example.Controllers.ViewModels
@model HomeViewModel

@{
    ViewBag.Title = "Al's awes todo list";
    ViewBag.Message = "Modify this template to jump-start your ASP.NET MVC application.";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                @*<h2>@ViewBag.Message</h2>*@
            </hgroup>
            <p>
                Add, remove and complete items below.
            </p>
        </div>
    </section>
}
<h3>Todo:</h3>
@using(var f = Html.BeginForm())
{
    @Html.LabelFor(m => m.Description)
    @Html.TextBoxFor(m => m.Description)
    <input type="submit" value="Add" name="AddTodo" />
}

<ul>
    @foreach(var item in Model.TodoItems)
    {
        <li id="item-@item.Id" class="todo-item @(item.Archived ? " archived" : "")">
            <strong>@item.Created</strong> @item.Description 
            @using (var f = Html.BeginForm("Archive","Home"))
            {
                <input type="hidden" value="@item.Id" name="id" />
                <input type="submit" value="Done" name="Archive" />
            }
            @using (var f = Html.BeginForm("Delete", "Home"))
            {
                <input type="hidden" value="@item.Id" name="id" />
                <input type="submit" value="Delete" name="Delete" />
            }
        </li>
    }
</ul>

