@using asp_example.Controllers.ViewModels
@model HomeViewModel

@{
    ViewBag.Title = "Keep track of your tasks";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <p>Add, remove and complete items below.</p>
        </div>
    </section>
}

<div data-ng-controller="HomeController">
    <h3>Todo:</h3>
    @using (var f = Html.BeginForm())
    {
        @Html.LabelFor(m => m.Description)
        @Html.TextBoxFor(m => m.Description, new { tabindex = "1", placeholder = "Enter items here :)" })
        <input type="submit" value="Add" name="AddTodo" />
    }

    @* Hidden if JavaScript enabled *@
    <ul id="items-list">
        @foreach (var item in Model.TodoItems)
        {
            <li id="item-@item.Id" class="todo-item @item.ElapsedDaysClass @(item.Archived ? " archived" : "")">
                <span class="todo-item-details"><strong>@item.Completed</strong> @item.Description</span>
                <span class="todo-item-actions">
                    @using (var f = Html.BeginForm("Archive", "Home"))
                    {
                        <input type="hidden" value="@item.Id" name="id" />
                        <input type="submit" value="Done" name="Archive" />
                    }
                    @using (var f = Html.BeginForm("Delete", "Home"))
                    {
                        <input type="hidden" value="@item.Id" name="id" />
                        <input type="submit" value="Delete" name="Delete" />
                    }
                </span>
            </li>
        }
    </ul>

    @* Activated by Angular JS if JavaScript is enabled *@
    <!--<span data-ng-class="show">testing</span>-->
    <ul id="angular-items-list" data-ng-class="itemsClass">
        <li data-ng-repeat="item in todos" id="item.Id" class="todo-item {{item.Archived ? 'archived' : ''}} {{item.ElapsedDaysClass}}">
            @* TODO: elapsed days logic *@
            <span class="todo-item-details"><strong>{{item.Completed}}</strong> {{item.Description}}</span>
            <span class="todo-item-actions">
                @using (var f = Html.BeginForm("Archive", "Home"))
                {
                    <input type="hidden" value="{{item.Id}}" name="id" />   @* TODO: Not needed but we'll fix this up soon *@
                    <input type="submit" value="Done" name="Archive" />
                }
                @using (var f = Html.BeginForm("Delete", "Home"))
                {
                    <input type="hidden" value="{{item.Id}}" name="id" />   @* TODO: Not needed but we'll fix this up soon *@
                    <input type="submit" value="Delete" name="Delete" />
                }
            </span>
        </li>
    </ul>
</div>

<!-- TODO: Move this! -->
<script type="text/javascript" src="/Scripts/Angular/Controllers/homeController.js"></script>